@model Confeitaria.App.ViewModels.PedidoViewModel

<style>
    .btn-icon {
        color: #e48f9b;
        border: none;
        font-size: 30px;
        margin-bottom: 12px;
    }

    td, th{
        font-size: 32px;
        text-align: center;
    }
</style>

<div>
    @if (Model != null)
    {
        <table class="table text-secondary">
            <thead>
                <tr>
                    <th>CEP</th>
                    <th>UF</th>
                    <th>Cidade</th>
                    <th>Bairro</th>
                    <th>Logradouro</th>
                    <th>Número</th>
                    <th>Complemento</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Endereco.Cep</td>
                    <td>@Model.Endereco.Estado</td>
                    <td>@Model.Endereco.Cidade</td>
                    <td>@Model.Endereco.Bairro</td>
                    <td>@Model.Endereco.Logradouro</td>
                    <td class="text-center">@Model.Endereco.Numero</td>
                    <td>@Model.Endereco.Complemento</td>
                    <td>
                        <a asp-action="AtualizarEndereco" asp-route-id="@Model.Id" class="btn btn-icon" title="Editar Endereço" data-modal="">
                            <span class="bi bi-pencil"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>