<link rel="stylesheet" href="~/css/carrinho.css" asp-append-version="true" />

@model IEnumerable<Confeitaria.App.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Carrinho";
}

<div class="box shadow-lg">
    <div class="d-flex row mx-auto">
        <h1 class="text-center">Meu Carrinho</h1>
        @if (Model != null && Model.Any())
        {
            <hr />
            <table class="table table-borderless text-secondary">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Nome</th>
                        <th>Valor Unitário</th>
                        <th>Quantidade</th>  
                        <th>Valor Total</th>
                    </tr>
                </thead>
                @foreach (var produto in Model)
                {
                    <tbody>
                        <tr>
                            <td> <img src="~/img/@produto.Imagem" class="w-25" /></td>
                            <td>@produto.Nome</td>
                            <td>@produto.Valor</td>
                            <td><input asp-for="@produto.Quantidade" value="@produto.Quantidade" /></td>
                            <td>
                                @(produto.Valor * produto.Quantidade)
                            <td>
                                @* <a asp-action="Index" asp-controller="Produtos" class="fs-2  bi bi-trash i-trash"></a> *@
                                <form asp-action="RemoverdoCarrinho" asp-controller="Produtos" asp-route-id="@produto.Id" method="post">
                                    <input type="hidden" name="produtoId" value="@produto.Id" />
                                    <button type="submit" class="btn i-trash fs-2  bi bi-trash"></button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
            <p class="text-black p-carrinho">Total do pedido: </p>
            <a asp-action="Create" asp-controller="Pedidos" class="a-cont text-decoration-none">Finalizar Pedido</a>
           
            <div class="">
                <a asp-action="Index" asp-controller="Produtos" class="a-cont text-decoration-none">Contiuar comprando</a>
            </div>
        }
        else
        {
            <h2 class="text-center mt-5 mb-5 fs-1">O carrinho está vazio...</h2>
        }
    </div>
</div>
