@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="row box text-muted shadow-lg">
    <div class="col-md box1">
        <section>
            <img src="~/img/LogoUsuario.png" class="logousuario" alt="logousuario" />
            <form class="w-75" id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3 fs-4">
                    <input asp-for="Input.Email" class="form-control fs-3" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 fs-4">
                    <input asp-for="Input.Password" class="form-control fs-3" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Senha</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <button class="btn fs-3 mb-2" id="login-submit" type="submit">Login</button>
                <div class="links">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu sua senha?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Criar nova conta</a>
                    </p>
                    @* <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar confirmação por e-mail</a>
                    </p> *@
                </div>
            </form>
        </section>
        <section>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <h3 class="fs-3">ou acesse via</h3>
                    <div class="iconeredes">
                        <a href="www.facebook.com.br" class="a-link" target="_blank">
                        <span class="fa-stack m-md-2">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x"></i>
                        </span>
                        </a>
                        <a href="https://accounts.google.com/" class="a-link" target="_blank">
                        <span class="fa-stack m-md-2">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-google fa-stack-1x"></i>
                        </span>
                        </a>
                        <a href="www.twitter.com.br" class="a-link" target="_blank">
                            <span class="fa-stack m-md-2">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x"></i>
                        </span>
                        </a>
                        <a href="www.instagram.com.br" class="a-link" target="_blank">
                        <span class="fa-stack m-md-2">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-instagram fa-stack-1x"></i>
                        </span>
                        </a>

                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
