<link rel="stylesheet" href="~/css/deletefaleconosco.css" asp-append-version="true" />

@model Confeitaria.App.ViewModels.FaleConoscoViewModel

@{
    ViewData["Title"] = "Excluir Mensagem";
}

<div class="container-fluid box">
    <h1 class="text-uppercase text-center fs-1 tb-h">Excluir Mensagem  </h1> 
    <hr />
    <dl class="row text-dark">
        <dt class="col-sm-2 mt-3">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10 mt-3">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2 mt-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10 mt-3">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2 mt-3">
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>
        <dd class="col-sm-10 mt-3">
            @Html.DisplayFor(model => model.Mensagem)
        </dd>
    </dl>

    <button type="button" class="mx-auto btn-excluir" data-bs-toggle="modal" data-bs-target="#excluirModal">
        Excluir Mensagem
    </button>

    <div>
        <a asp-controller="FaleConosco" asp-action="Index" class="a-link">voltar para página anterior</a>
    </div>

    <div class="modal fade" id="excluirModal" tabindex="-1" aria-labelledby="excluirModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body fs-1">
                    Tem certeza que deseja excluir esta mensagem?
                </div>
                <div class="modal-footer">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Sim" class="btn" />
                        <a asp-action="Delete" class="btn">Não</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
